---
export async function getStaticPaths() {
  const posts = await Astro.glob("../../data/*.md");
  return posts.map((post) => ({
    params: { slug: post.frontmatter.slug },
    props: { post },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { slug } = Astro.params;
---

<article class="prose max-w-2xl mx-auto mt-4 p-4">
  <a href="/blog">👈 to blog</a>
  <h2 class="w-full text-5xl font-medium text-gray-900">
    {frontmatter.title}
  </h2>
  <Content />
</article>
